* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

// header style
header {
    width: 100%;
    background-color: tomato;
    .nav {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: center;
        @include resp(1720px) {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
            @include resp(500px) {
                font-size: 2.5rem;
            }
        }
    }
}

// button style
.btn {
    text-decoration: none;
    background-color: #40e0d0;
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    border: 1px solid #484848;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: darken($color: #40e0d0, $amount: 50);
    }
}
// post container style
#main-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include resp(768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px;
    }
    @include resp(1280px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;
    }
    @include resp(1720px) {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
    .posts {
        padding: 35px;
        border-radius: 10px;
        background-color: #3933dc87;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: #3933dcbb;
        }
        h1 {
            font-size: 1.6rem;
        }
        .para {
            font-size: 1rem;
            margin-bottom: 20px;
            line-height: 145%;
            margin-top: 20px;
            margin-bottom: 20px;
            // screen reader texts
            .screen-reader-text {
                display: none;
            }
        }
        // bottom
        .bottom {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-top: 15px;
            border-top: 1px solid #484848;
            .left {
                font-weight: bold;
            }

            .right {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                img {
                    margin-right: 10px;
                    width: 30px;
                }
                p {
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
        }
    }
}

// container style
.container {
    padding-left: 15px;
    padding-right: 15px;
    @include resp(768px) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    @include resp(1280px) {
        width: 80%;
    }
    @include resp(1720px) {
        max-width: 1600px;
    }
}

// new post style
#new-post {
    margin-top: 65px;
    margin-bottom: 150px;
    .container {
        max-width: 500px;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        .input-group {
            display: flex;
            flex-flow: column wrap;
            margin-top: 20px;
            label {
                margin-bottom: 10px;
            }
            input, textarea {
                width: 100%;
                padding: 10px;
                font-size: 1rem;
            }
        }
    }
}
